* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container-1 {
    display: flex;
    align-items: center;
    width: 500px;
    position: relative;
    bottom: -190px;
    height: 50%;
    left: 410px;
}

.img-h1 {
    position: absolute;
    z-index: 2;
    left: 200px;
    height: 800px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 2;
}

.img-h1.active {
    opacity: 1;
    z-index: 2;
  }

  .img-h1.inactive {
    z-index: 2;
  }

.img-h2 {
    position: relative;
    height: 800px;
    z-index: 1;
    right: 60px;
}

.container-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px #000000;
    width: 400px;
    position: relative;
    left: 1000px;
    bottom: 400px;
    height: 600px;
}

.logo {
    width: 250px;
    margin: 20px;
}

input {
    width: 300px;
    height: 50px;
    margin: 5px 0;
    outline: none;
}

button {
    background-color: #2b77f9;
    border-radius: 30px;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 20px;
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
    margin: 30px 0px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.logo-fb {
    width: 20px;
    cursor: pointer;
}

.login-fb {
    font-weight: bolder;
    cursor: pointer;
}

.recover {
    cursor: pointer;
    margin: 30px 0px;

}

.recover:active {
    color: #2b77f9
}

.recover-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 90px;
    position: relative;
    top: 100px;
    margin-top: 60px;
    border: solid 1px #000000;

}

.h3-recover {
    margin-top: 30px;
}

.cadastre {
    color: #2b77f9;
    cursor: pointer;
}

.cadastre:active {
    opacity: 0.7;
}

.img-app {
    width: 150px;
    display:flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
    top: -20px;
    
}

.img-app:hover {
    transform: scale(1.1);
}

.app {
    margin: 10px;
}

.obtenha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -8px;
}

.container-app {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: #000000;
    cursor: pointer;
    margin-left: 100px;
}

ul {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    top: -57px;
    left: 180px;
    flex-wrap: wrap;

}

ul li {
    margin: 0 10px;
  }

@keyframes instagram {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1450px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .container-1 {
        width: 50vw;
        height: 90vh;
        display: relative;
        align-items: center;
        bottom: 300px;
        left: 25px;
        margin-left: 70px;
    }

    .img-h2 {
        position: relative;
        height: 800px;
        z-index: 1;
        right: 60px;
        top: 270px;
    }

    .img-h1 {
            position: absolute;
            height: 800px;
            z-index: 2;
            right: 500px;
            top: 268px
        }

        .container-2 {
            height: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: solid 1px #000000;
            width: 400px;
            position: relative;
            left: -100px;
            bottom: 125px;
            height: 600px;
        }

        .obtenha {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .img-app {
            width: 200px;
            display:flex;
            align-items: center;
            margin-left: 5px;
            cursor: pointer;
            position: relative;
            bottom: 15px;
            
        }


        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            top: -60px;
            left: 0px;
          }
          
          ul li {
            margin: 0 10px;
          }

}

@media screen and (max-width: 1132px) {

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

    section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .container-1 {
        width: 50vw;
        height: 80vh;
        display: relative;
        align-items: center;
        bottom: 350px;
        left: 25px;
        margin-left: 70px;
    }

    .img-h2 {
        position: relative;
        height: 800px;
        z-index: 1;
        right: 55px;
        top: 310px;
    }

    .img-h1 {
            position: absolute;
            height: 800px;
            z-index: 2;
            right: 500px;
            top: 263px
        }

        .container-2 {
            width: 400px;
            height: 50vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: solid 1px #000000;
            position: relative;
            left: 50px;
            bottom: 200px;
        }

        .logo {
            width: 250px;
            margin: 20px;
        }
        
        input {
            width: 300px;
            height: 50px;
            margin: 5px 0;
            outline: none;
        }
        
        button {
            background-color: #2b77f9;
            border-radius: 30px;
            color: white;
            width: 250px;
            height: 40px;
            font-size: 20px;
            box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
            margin: 30px 0px;
        }
        
        button:hover {
            opacity: 0.8;
        }
        
        button:active {
            opacity: 0.6;
        }
        
        .logo-fb {
            width: 20px;
            cursor: pointer;
        }
        
        .login-fb {
            font-weight: bolder;
            cursor: pointer;
        }
        
        .recover {
            cursor: pointer;
            margin: 30px 0px;
        
        }
        
        .recover:active {
            color: #2b77f9
        }
        
        .recover-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 400px;
            height: 90px;
            position: relative;
            top: 20px;
            margin-top: 60px;
            border: solid 1px #000000;
        
        }
        
        .h3-recover {
            margin-top: 30px;
        }
        
        .cadastre {
            color: #2b77f9;
            cursor: pointer;
        }
        
        .cadastre:active {
            opacity: 0.7;
        }
        
        .img-app {
            width: 180px;
            display:flex;
            align-items: center;
            margin-left: 5px;
            cursor: pointer;
            position: relative;
            bottom: 20px;
            
        }
        
        .img-app:hover {
            transform: scale(1.1);
        }

        footer {
            width: 100vw;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #000000;
            cursor: pointer;
            margin: 10px 0px;
            padding: 0px;
          }
          
          ul {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            top: -100px;
          }
          
          ul li {
            margin: 0 10px;
          }
          
    }

    @media screen and (max-width:900px) {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
            section {
                width: 100vw;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }
        
            .container-1 {
                width: 100%;
                height: 100%;
                display: relative;
                align-items: center;
                bottom: 350px;
                left: -10px;
            }
        
            .img-h2 {
                position: relative;
                height: 600px;
                z-index: 1;
                right: 55px;
                top: 270px;
            }
        
            .img-h1 {
                    position: absolute;
                    height: 600px;
                    z-index: 2;
                    right: px;
                    top: 450px
                }

                .container-2 {
                    width: 67%;
                    height: 50vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: solid 1px #000000;
                    position: relative;
                    left: -20px;
                    bottom: 130px;
                }

                .recover-container {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 300px;
                    height: 90px;
                    position: relative;
                    right: 0px;
                    top: 60px;
                    border: solid 1px #000000;
                
                }

            footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #000000;
                cursor: pointer;
                margin: 0px 0px;
                padding: 0px;
              }

            ul {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
              }
              
              ul li {
                margin: 0 5px;
              }

    }

    @media screen and (max-width:500px) {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
            section {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }
        
            .container-1 {
                display: none
            }

            .container-2 {
                width: 100%;
                top: -135px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px #000000;
                position: relative;
                left: 0px;

            }

            .recover-container {
                width: 100%;
                top: 80px;
            }

            .h3-recover {
                margin-top: 30px;
            }

            .obtenha {
                margin-top: 50px;
            }

            .img-app {
                width: 130px;
                position: relative;
                right: 10px;
                top: -20px;
            }

            footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #000000;
                cursor: pointer;
                position: relative;
                bottom: 50px;
              }

            ul {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
              }
              
              ul li {
                margin: 0 5px;
              }

    }

    @media screen and (max-width:415px) {
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        
            section {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }
        
            .container-1 {
                display: none
            }

            .container-2 {
                width: 100%;
                top: -135px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px #000000;
                position: relative;
                left: 0px;

            }

            .recover-container {
                width: 100%;
                top: 20px;
            }

            .h3-recover {
                margin-top: 30px;
            }

            .obtenha {
                margin-top: 50px;
            }

            .img-app {
                width: 130px;
                position: relative;
                right: 10px;
                top: -20px;
            }

            footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #000000;
                cursor: pointer;
                position: relative;
                bottom: 0px;
              }

            ul {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
              }
              
              ul li {
                margin: 0 5px;
              }

    }